In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('online.csv')

df

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
19         86419.70       153514.11       0.00    Dhaka  122776.86
20         76253.86       113867.30  298664.47      Ctg  118474.03
21         78389.47       153773.43  299737.29    Dhaka  111313.02
22         73994.56       122782.75  303319.26  Rangpur  110352.25
23         67532.53       105751.03  304768.73  Rangpur  108733.99
24         77044.01        99281.34  140574.81    Dhaka  108552.04
25         64664.71       139553.16  137962.62      Ctg  107404.34
26         75328.87       144135.98  134050.07  Rangpur  105733.54
27         72107.60       127864.55  353183.81    Dhaka  105008.31
28         66051.52       182645.56  118148.20  Rangpur  103282.38
29         65605.48       153032.06  107138.38    Dhaka  101004.64
30         61994.48       115641.28   91131.24  Rangpur   99937.59
31         61136.38       152701.92   88218.23    Dhaka   97483.56
32         63408.86       129219.61   46085.25      Ctg   97427.84
33         55493.95       103057.49  214634.81  Rangpur   96778.92
34         46426.07       157693.92  210797.67      Ctg   96712.80
35         46014.02        85047.44  205517.64    Dhaka   96479.51
36         28663.76       127056.21  201126.82  Rangpur   90708.19
37         44069.95        51283.14  197029.42      Ctg   89949.14
38         20229.59        65947.93  185265.10    Dhaka   81229.06
39         38558.51        82982.09  174999.30      Ctg   81005.76
40         28754.33       118546.05  172795.67      Ctg   78239.91
41         27892.92        84710.77  164470.71  Rangpur   77798.83
42         23640.93        96189.63  148001.11      Ctg   71498.49
43         15505.73       127382.30   35534.17    Dhaka   69758.98
44         22177.74       154806.14   28334.72      Ctg   65200.33
45          1000.23       124153.04    1903.93    Dhaka   64926.08
46          1315.46       115816.21  297114.46  Rangpur   49490.75
47             0.00       135426.92       0.00      Ctg   42559.73
48           542.05        51743.15       0.00    Dhaka   35673.41
49             0.00       116983.80   45173.06      Ctg   14681.40

In [3]:
df.shape

(50, 5)

In [4]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [ ]:
#if missiong (suppose administration)

#missing = df.Administration.mean()
#df.Administration = df.Administration.fillna(missing)

In [5]:
x = df.drop(["Profit"] , axis = 1)
x

    Marketing Spend  Administration  Transport     Area
0         114523.61       136897.80  471784.10    Dhaka
1         162597.70       151377.59  443898.53      Ctg
2         153441.51       101145.55  407934.54  Rangpur
3         144372.41       118671.85  383199.62    Dhaka
4         142107.34        91391.77  366168.42  Rangpur
5         131876.90        99814.71  362861.36    Dhaka
6         134615.46       147198.87  127716.82      Ctg
7         130298.13       145530.06  323876.68  Rangpur
8         120542.52       148718.95  311613.29    Dhaka
9         123334.88       108679.17  304981.62      Ctg
10        101913.08       110594.11  229160.95  Rangpur
11        100671.96        91790.61  249744.55      Ctg
12         93863.75       127320.38  249839.44  Rangpur
13         91992.39       135495.07  252664.93      Ctg
14        119943.24       156547.42  256512.92  Rangpur
15        165349.20       122616.84  261776.23    Dhaka
16         78013.11       121597.55  264346.06      Ctg
17         94657.16       145077.58  282574.31    Dhaka
18         91749.16       114175.79  294919.57  Rangpur
19         86419.70       153514.11       0.00    Dhaka
20         76253.86       113867.30  298664.47      Ctg
21         78389.47       153773.43  299737.29    Dhaka
22         73994.56       122782.75  303319.26  Rangpur
23         67532.53       105751.03  304768.73  Rangpur
24         77044.01        99281.34  140574.81    Dhaka
25         64664.71       139553.16  137962.62      Ctg
26         75328.87       144135.98  134050.07  Rangpur
27         72107.60       127864.55  353183.81    Dhaka
28         66051.52       182645.56  118148.20  Rangpur
29         65605.48       153032.06  107138.38    Dhaka
30         61994.48       115641.28   91131.24  Rangpur
31         61136.38       152701.92   88218.23    Dhaka
32         63408.86       129219.61   46085.25      Ctg
33         55493.95       103057.49  214634.81  Rangpur
34         46426.07       157693.92  210797.67      Ctg
35         46014.02        85047.44  205517.64    Dhaka
36         28663.76       127056.21  201126.82  Rangpur
37         44069.95        51283.14  197029.42      Ctg
38         20229.59        65947.93  185265.10    Dhaka
39         38558.51        82982.09  174999.30      Ctg
40         28754.33       118546.05  172795.67      Ctg
41         27892.92        84710.77  164470.71  Rangpur
42         23640.93        96189.63  148001.11      Ctg
43         15505.73       127382.30   35534.17    Dhaka
44         22177.74       154806.14   28334.72      Ctg
45          1000.23       124153.04    1903.93    Dhaka
46          1315.46       115816.21  297114.46  Rangpur
47             0.00       135426.92       0.00      Ctg
48           542.05        51743.15       0.00    Dhaka
49             0.00       116983.80   45173.06      Ctg

In [6]:
y = df["Profit"]
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [7]:
dummies = pd.get_dummies(df["Area"])
dummies

    Ctg  Dhaka  Rangpur
0     0      1        0
1     1      0        0
2     0      0        1
3     0      1        0
4     0      0        1
5     0      1        0
6     1      0        0
7     0      0        1
8     0      1        0
9     1      0        0
10    0      0        1
11    1      0        0
12    0      0        1
13    1      0        0
14    0      0        1
15    0      1        0
16    1      0        0
17    0      1        0
18    0      0        1
19    0      1        0
20    1      0        0
21    0      1        0
22    0      0        1
23    0      0        1
24    0      1        0
25    1      0        0
26    0      0        1
27    0      1        0
28    0      0        1
29    0      1        0
30    0      0        1
31    0      1        0
32    1      0        0
33    0      0        1
34    1      0        0
35    0      1        0
36    0      0        1
37    1      0        0
38    0      1        0
39    1      0        0
40    1      0        0
41    0      0        1
42    1      0        0
43    0      1        0
44    1      0        0
45    0      1        0
46    0      0        1
47    1      0        0
48    0      1        0
49    1      0        0

In [8]:
x= pd.concat([x ,dummies] , axis = "columns")
x = x.drop(["Area"] , axis = "columns")
x

    Marketing Spend  Administration  Transport  Ctg  Dhaka  Rangpur
0         114523.61       136897.80  471784.10    0      1        0
1         162597.70       151377.59  443898.53    1      0        0
2         153441.51       101145.55  407934.54    0      0        1
3         144372.41       118671.85  383199.62    0      1        0
4         142107.34        91391.77  366168.42    0      0        1
5         131876.90        99814.71  362861.36    0      1        0
6         134615.46       147198.87  127716.82    1      0        0
7         130298.13       145530.06  323876.68    0      0        1
8         120542.52       148718.95  311613.29    0      1        0
9         123334.88       108679.17  304981.62    1      0        0
10        101913.08       110594.11  229160.95    0      0        1
11        100671.96        91790.61  249744.55    1      0        0
12         93863.75       127320.38  249839.44    0      0        1
13         91992.39       135495.07  252664.93    1      0        0
14        119943.24       156547.42  256512.92    0      0        1
15        165349.20       122616.84  261776.23    0      1        0
16         78013.11       121597.55  264346.06    1      0        0
17         94657.16       145077.58  282574.31    0      1        0
18         91749.16       114175.79  294919.57    0      0        1
19         86419.70       153514.11       0.00    0      1        0
20         76253.86       113867.30  298664.47    1      0        0
21         78389.47       153773.43  299737.29    0      1        0
22         73994.56       122782.75  303319.26    0      0        1
23         67532.53       105751.03  304768.73    0      0        1
24         77044.01        99281.34  140574.81    0      1        0
25         64664.71       139553.16  137962.62    1      0        0
26         75328.87       144135.98  134050.07    0      0        1
27         72107.60       127864.55  353183.81    0      1        0
28         66051.52       182645.56  118148.20    0      0        1
29         65605.48       153032.06  107138.38    0      1        0
30         61994.48       115641.28   91131.24    0      0        1
31         61136.38       152701.92   88218.23    0      1        0
32         63408.86       129219.61   46085.25    1      0        0
33         55493.95       103057.49  214634.81    0      0        1
34         46426.07       157693.92  210797.67    1      0        0
35         46014.02        85047.44  205517.64    0      1        0
36         28663.76       127056.21  201126.82    0      0        1
37         44069.95        51283.14  197029.42    1      0        0
38         20229.59        65947.93  185265.10    0      1        0
39         38558.51        82982.09  174999.30    1      0        0
40         28754.33       118546.05  172795.67    1      0        0
41         27892.92        84710.77  164470.71    0      0        1
42         23640.93        96189.63  148001.11    1      0        0
43         15505.73       127382.30   35534.17    0      1        0
44         22177.74       154806.14   28334.72    1      0        0
45          1000.23       124153.04    1903.93    0      1        0
46          1315.46       115816.21  297114.46    0      0        1
47             0.00       135426.92       0.00    1      0        0
48           542.05        51743.15       0.00    0      1        0
49             0.00       116983.80   45173.06    1      0        0

In [9]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain , xtest , ytrain , ytest = train_test_split(x , y ,test_size = .25 , random_state=1)

In [14]:
xtrain

    Marketing Spend  Administration  Transport  Ctg  Dhaka  Rangpur
36         28663.76       127056.21  201126.82    0      0        1
19         86419.70       153514.11       0.00    0      1        0
42         23640.93        96189.63  148001.11    1      0        0
49             0.00       116983.80   45173.06    1      0        0
26         75328.87       144135.98  134050.07    0      0        1
22         73994.56       122782.75  303319.26    0      0        1
13         91992.39       135495.07  252664.93    1      0        0
41         27892.92        84710.77  164470.71    0      0        1
17         94657.16       145077.58  282574.31    0      1        0
45          1000.23       124153.04    1903.93    0      1        0
24         77044.01        99281.34  140574.81    0      1        0
23         67532.53       105751.03  304768.73    0      0        1
4         142107.34        91391.77  366168.42    0      0        1
33         55493.95       103057.49  214634.81    0      0        1
14        119943.24       156547.42  256512.92    0      0        1
30         61994.48       115641.28   91131.24    0      0        1
10        101913.08       110594.11  229160.95    0      0        1
28         66051.52       182645.56  118148.20    0      0        1
44         22177.74       154806.14   28334.72    1      0        0
34         46426.07       157693.92  210797.67    1      0        0
18         91749.16       114175.79  294919.57    0      0        1
20         76253.86       113867.30  298664.47    1      0        0
25         64664.71       139553.16  137962.62    1      0        0
6         134615.46       147198.87  127716.82    1      0        0
7         130298.13       145530.06  323876.68    0      0        1
47             0.00       135426.92       0.00    1      0        0
1         162597.70       151377.59  443898.53    1      0        0
16         78013.11       121597.55  264346.06    1      0        0
0         114523.61       136897.80  471784.10    0      1        0
15        165349.20       122616.84  261776.23    0      1        0
5         131876.90        99814.71  362861.36    0      1        0
11        100671.96        91790.61  249744.55    1      0        0
9         123334.88       108679.17  304981.62    1      0        0
8         120542.52       148718.95  311613.29    0      1        0
12         93863.75       127320.38  249839.44    0      0        1
43         15505.73       127382.30   35534.17    0      1        0
37         44069.95        51283.14  197029.42    1      0        0

In [15]:
ytrain

36     90708.19
19    122776.86
42     71498.49
49     14681.40
26    105733.54
22    110352.25
13    134307.35
41     77798.83
17    125370.37
45     64926.08
24    108552.04
23    108733.99
4     166187.94
33     96778.92
14    132602.65
30     99937.59
10    146121.95
28    103282.38
44     65200.33
34     96712.80
18    124266.90
20    118474.03
25    107404.34
6     156122.51
7     155752.60
47     42559.73
1     191792.06
16    126992.93
0     192261.83
15    129917.04
5     156991.12
11    144259.40
9     149759.96
8     152211.77
12    141585.52
43     69758.98
37     89949.14
Name: Profit, dtype: float64

In [16]:
xtest

    Marketing Spend  Administration  Transport  Ctg  Dhaka  Rangpur
27         72107.60       127864.55  353183.81    0      1        0
35         46014.02        85047.44  205517.64    0      1        0
40         28754.33       118546.05  172795.67    1      0        0
38         20229.59        65947.93  185265.10    0      1        0
2         153441.51       101145.55  407934.54    0      0        1
3         144372.41       118671.85  383199.62    0      1        0
48           542.05        51743.15       0.00    0      1        0
29         65605.48       153032.06  107138.38    0      1        0
46          1315.46       115816.21  297114.46    0      0        1
31         61136.38       152701.92   88218.23    0      1        0
32         63408.86       129219.61   46085.25    1      0        0
39         38558.51        82982.09  174999.30    1      0        0
21         78389.47       153773.43  299737.29    0      1        0

In [17]:
ytest

27    105008.31
35     96479.51
40     78239.91
38     81229.06
2     191050.39
3     182901.99
48     35673.41
29    101004.64
46     49490.75
31     97483.56
32     97427.84
39     81005.76
21    111313.02
Name: Profit, dtype: float64

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
regobj = LinearRegression()

In [20]:
regobj.fit(xtrain , ytrain)

LinearRegression()

In [21]:
prediction = regobj.predict(xtest)
prediction

array([128970.94931157,  94828.31285866,  81731.56746648,  75895.19562535,
       176099.90741875, 173273.75118271,  44515.20084482, 103041.3010548 ,
        77625.00002617,  98509.81855797,  90346.91052116,  84224.18281911,
       129815.72344898])

In [22]:
regobj.score(xtest , ytest)

0.9047265530280397

<h2>R-Squared Value</h2>

In [23]:
from sklearn.metrics import r2_score

In [24]:
score = (r2_score(ytest , prediction))*100
score

90.47265530280397